.download {
  background-color: #fafafa;
  width: 100%;
  padding-top: 110px;
  .banner {
    position: relative;
    .layout-padding {
      position: absolute;
      display: flex;
      justify-content: space-evenly;
      height: 100%;
      max-height: 750px;
      width: 100%;
      align-items: center;
      max-width: 1350px;
      padding: 0 calc((100vw - 1340px) / 2) !important;
      .text-center {
        text-align: center !important;
        .section-1 {
          @media (max-width: 1919px) {
            font-size: 0.875rem;
            .text {
              margin: 16px;
              text-align: center;
              max-width: 656px;
              span {
                color: #191919;
                letter-spacing: 2px;
                line-height: 37px;
                text-transform: uppercase;
                font-size: 24px;
                font-weight: 600;
              }
            }
          }
        }
        .dowload_now_text {
          font-size: 50px;
          // font-family: Lexend-Bold;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center;
        }
        .scan-qr {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          .d-flex {
            display: flex;
            img {
              margin: 0 20px;
              height: 120px;
              border: 1px solid #fc8e8c;
              box-shadow: 5px 5px 10px rgb(157 43 103 / 20%);
              margin-left: 1.5rem !important;
            }
          }
          .max-h-120 {
            max-height: 120px;
            padding-left: 1.5rem !important;
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
            a {
              text-decoration: none;
              color: #1890ff;
              background-color: transparent;
              img {
                height: 40px;
                margin: 0.25rem !important;
                vertical-align: middle;
                border-style: none;
              }
            }
          }
        }
      }
      .position-model {
        height: 100%;
        display: flex;
        align-items: flex-end;
        img {
          height: 85%;
          width: 100%;
          object-fit: contain !important;
          vertical-align: middle;
          border-style: none;
        }
      }
    }
    .cover-image {
      img {
        width: 100%;
        min-height: 400px;
        max-height: 750px;
        object-fit: cover;
        object-position: center;
        vertical-align: middle;
        border-style: none;
      }
    }
  }
  .description {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    max-height: 500px;
    .col-12 {
      position: absolute;
      align-items: center;
      justify-content: center;
      display: flex;
      flex: 0 0 66.66667%;
      img {
        height: 70%;
        vertical-align: middle;
        border-style: none;
      }
      .text_community {
        width: 34%;
        color: #303030;
        border: 0;
        min-width: 160px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        mix-blend-mode: normal;
        opacity: 0.8;
        line-height: 34px;
        letter-spacing: 1px;
        font-size: 15px;
        padding: 10px 30px;
        font-weight: 500;
      }
    }
  }
  .position-relative {
    position: relative;
    .align-items-center {
      background-color: #f1f1f1;
      width: 100% !important;
      align-items: center !important;
      justify-content: center !important;
      display: flex !important;
      .my-4 {
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        align-items: center;
        display: flex;
        .justify-content-center {
          margin-left: 3rem;
          align-items: center !important;
          align-items: center !important;
          display: flex !important;
          max-width: 50%;
          flex: 0 0 50%;
          width: 100% !important;
          .row {
            margin-bottom: 1rem !important;
            margin-top: 1rem !important;
            width: 100% !important;
            display: flex;
            margin-right: -15px;
            margin-left: -15px;
            flex-wrap: wrap;
            .col-12 {
              width: 300px;
              padding-right: 15px;
              padding-left: 15px;
              .align-items-end {
                margin-bottom: 1.5rem !important;
                margin-top: 1.5rem !important;
                align-items: flex-end !important;
                justify-content: center !important;
                display: flex !important;
                .text-center {
                  min-width: 150px;
                  max-width: 300px;
                  text-align: center!important;
                  img{
                    width: 55px;
                    height: 55px;
                    margin: 16px 0;
                    vertical-align: middle;
                    border-style: none;
                  }
                  .text_community{
                    color: #191919;
                    border: 0;
                    min-width: 160px;
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    mix-blend-mode: normal;
                    opacity: .8;
                    line-height: 34px;
                    letter-spacing: 1px;
                    font-size: 14px;
                    padding: 10px;
                  }
                }
              }
            }
          }
        }
      }
      .layout-padding{
        width: 100%!important;
        position: absolute!important;
        justify-content: flex-end!important;
        display: flex!important;
        img{
        padding: 0 calc((100vw - 1340px)/2)!important;
          max-height: 750px;
          vertical-align: middle;
          border-style: none;
        }
      }
    }
  }
  .height-community2{
    
  }
}
