.cart-item {
  margin-top: 5px;
  width: 100%;
  background-color: #f4f4f4;
  display: flex;
  border-radius: 5px;
  // justify-content: space-between;
  .check {
    margin: 45px 10px;
    padding: 25px 20px;
    width: 4%;
  }
  .image {
    width: 120px;
    padding: 25px 0;
    img {
      width: 100%;
      border-radius: 10px;
      height: 120px;
    }
  }
  .name {
    padding: 25px 0px;
    margin-left: 20px;
    width: 40%;
    .nameItem {
      p {
        // padding: 5px 0;
        // position: relative;
        // display: inline;
        // margin: 5px 0;
        cursor: pointer;
        &:hover {
          text-decoration-line: underline;
          text-decoration-color: #3f3f3f;
        }
      }
    }
    p {
      margin: 5px 0;
      font-size: 15px;
      font-weight: 900;
      font-family: "Roboto", sans-serif;
    }
    .variant_size {
      display: flex;
      margin: 5px 0;
      span{
        display: flex;
        align-items: center;
      }
      p {
        margin: 0 5px;
        display: flex;
        align-items: flex-end;
      }
      .optionSize {
        margin: 5px;
        width: 40px;
        height: 20px;
        padding: 2px;
        text-align: center;
        border: 1px solid #d8d8d8;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        p{
          font-weight: 400;
          margin: auto;
        }
        &:hover {
          box-shadow: 0px 0.8px 0.6px rgba(0, 0, 0, 0.065),
            0px 2.1px 1.5px rgba(0, 0, 0, 0.093),
            0px 4.3px 3px rgba(0, 0, 0, 0.117),
            0px 8.8px 6.2px rgba(0, 0, 0, 0.145),
        }
      }
      .clickOPtion {
        border: 1px solid #303030;
      }
    }
  }
  .amount {
    display: flex;
    padding: 70px 0px;
    width: 15%;
    min-width: 200px;
    span {
      margin: 5px 0px 5px 0;
    }
    p {
      margin: 5px 15px;
      width: 18px;
      text-align: center;
    }
    .editing {
      // background-color: rebeccapurple ;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    .btn_amount {
      border: 0.5px solid rgb(150, 150, 150);
      width: 30px;
      height: 30px;
      text-align: center;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;
      .icon_amount {
        margin-top: 10px;
      }
    }
    .plus {
      background-color: black;
    }
  }
  .btn_update {
    display: block;
    width: 20%;
    text-align: center;
    padding: 0px 20px;

    button {
      margin-top: 20px;
      cursor: pointer;
      background-color: #ffffff;
      width: 120px;
      height: 50px;
      border: 1px solid #585858;
    }
  }
  .btn_delete {
    padding: 25px 20px;
    width: 20%;
    text-align: center;
    button {
      margin-top: 35px;
      cursor: pointer;
      background-color: #ffffff;
      width: 120px;
      height: 50px;
      border: 1px solid #585858;
    }
  }
}
