.cart {
  background-color: #fafafa;
  width: 100%;
  &_header {
    padding-top: 110px;
    width: 100%;
    &_content {
      max-width: 1350px;
      display: flex;
      width: 83%;
      margin: auto;
      p {
        margin: 22px 0;
        font-family: Arial, Helvetica, sans-serif;
        color: #888888;
      }
      img {
        margin: 22px;
      }
    }
  }
  &_content {
    background-color: #ffffff;
    padding-bottom: 50px;
    .main {
      max-width: 1350px;
      width: 83%;
      margin: auto;
      padding: 30px 0;
      .cart-title {
        img {
          width: 20px;
        }
        span {
          font-size: 20px;
          //   background-color: rebeccapurple;
          color: #3a3a3a;
          line-height: 0.8;
          font-weight: 600;
          margin: 7px;
        }
      }
      .list-table {
        margin-top: 30px;
        width: 100%;
        // .cart-item {
        //   margin-top: 5px;
        //   width: 100%;
        //   background-color: #f1f1f1;
        //   display: flex;
        //   padding: 25px 20px;
        //   border-radius: 5px;
        //   .image {
        //     width: 120px;
        //     img {
        //       width: 100%;
        //       border-radius: 10px;
        //       height: 120px;
        //     }
        //   }
        //   .name {
        //     margin-left: 20px;
        //     width: 40%;
        //     p {
        //       margin: 0;
        //       font-size: 15px;
        //       font-weight: 900;
        //       font-family: "Roboto", sans-serif;
        //     }
        //   }
        //   .amount {
        //     display: flex;
        //     padding: 40px 30px;
        //     // background-color: #3a3a3a;
        //     span {
        //       margin: 5px 15px 5px 0;
        //     }
        //     p {
        //       margin: 5px 20px;
        //     }
        //     .btn_amount {
        //       border: 0.5px solid rgb(150, 150, 150);
        //       width: 30px;
        //       height: 30px;
        //       text-align: center;
        //       border-radius: 50%;
        //       cursor: pointer;
        //       .icon_amount {
        //         margin-top: 10px;
        //       }
        //     }
        //     .plus {
        //       background-color: black;
        //     }
        //   }
        // }
      }
    }
  }
}
