.container {
  background-color: #fafafa;
  width: 100%;
  .Home_content {
    padding-top: 110px;
    margin: auto;
    max-width: 1350px;

    .banner {
      padding-top: 10px;
      width: 83%;
      margin: auto;
    }
    .carousel {
      width: 83%;
      margin: 10px auto;
    }
    .Content {
      width: 83%;
      margin: 20px auto;
      &_1 {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
