.container {
  background-color: #f7f7f7;
  width: 100%;
  .Home_content {
    margin: auto;
    max-width: 1350px;

    .banner {
      padding-top: 10px;
      width: 83%;
      margin: auto;
    }
    .carousel {
      width: 83%;
      margin: 10px auto;
    }
    .content1 {
      width: 83%;
      margin: 20px auto;
      display: flex;
      justify-content: space-between;
    }
  }
}
