.content {
  width: 800px;
  .topSeller {
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    &_header {
      background-color: black;
      color: white;
      text-align: center;
      width: 100%;
      margin-bottom: 10px;
      h3 {
        padding: 8px;
        margin: 0;
      }
    }
    &_sellers {
      .slick-arrow {
        display: none !important;
      }
      width: 100%;
      margin: auto;
      .slick_Seller {
        width: 100%;
        cursor: pointer;
        .top {
          background-color: black;
          color: white;
          width: 24px;
          border-radius: 5px;
          margin: auto;
          p {
            padding: 2px;
            font-weight: 100;
          }
        }
        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          margin: 5px auto;
        }
        p {
          text-align: center;
          font-weight: 700;
        }
        .view {
          padding-left: 20px;
          p {
            font-weight: 100;
            text-align: left;
            margin: 2px 0 15px 0;
          }
          .icon-heart {
            display: flex;
            img {
              width: 17px;
              height: 17px;
              margin: 3px 0;
            }
          }
        }
        &:hover > img {
          box-shadow: 0px 0px 0.9px rgba(24, 168, 137, 0.19),
            0px 0px 3.1px rgba(14, 161, 137, 0.28),
            0px 0px 14px rgba(18, 167, 105, 0.47);
        }
      }
    }
  }
  .newProduct {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
    padding: 10px 0;
    background-color: white;
    &_header {
      width: 100%;
      margin-bottom: 10px;
      border-bottom: 1px solid rgb(219, 218, 218);
      h3 {
        padding: 20px 15px;
        margin: 0;
        font-weight: 600;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }
    .slide{
      width: 97%;
      margin: auto;
    }
  }
}
