.option {
  width: 20%;
  display: flex;
  &_icon {
    width: 19px;
    margin: 5px 12px;
    cursor: pointer;
    position: relative;
    .menuCart{
      display: none;
    }
    .amountProduct {
      position: absolute;
      background-color: #fe3877;
      font-size: 10px;
      height: 16px;
      width: 16px;
      border-radius: 10px;
      line-height: 17px;
      text-align: center;
      color: #fff;
      right: -7px;
      top: -1px;
    }
  }
}
.cart:hover > .menuCart{
  // background-color: rebeccapurple;
  display: block;
}
